.demo_media{
    background-color:  rgb(250,244,224);
}

.exemple_media{
    font-family: 'indie flower', cursive;
    margin-top: 0;
}

.presentation_media{
    background-color:  rgb(250,244,224);
    font-family: 'indie flower', cursive;
    margin: 2rem;
}

.video_exemple{
    width: 100%;
}